@import "tailwindcss";
@import "@fontsource/jost/400.css"; /* Regular */
@import "@fontsource/jost/500.css"; /* Medium */
@import "@fontsource/jost/600.css"; /* Semi-bold */
@import "@fontsource/jost/700.css"; /* Bold */

* {
  font-family: "Jost", sans-serif !important;
}
:root {
  --swiper-navigation-color: black !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  width: 22px !important;
  height: 22px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px !important;
}
/* Hide navigation by default */
.group .product-swiper .swiper-button-prev,
.group .product-swiper .swiper-button-next {
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity 0.3s ease;
}

/* Show only on hover */
.group:hover .product-swiper .swiper-button-prev,
.group:hover .product-swiper .swiper-button-next {
  opacity: 1 !important;
  pointer-events: auto !important;
}
.category-swiper .swiper-button-prev,
.category-swiper .swiper-button-next {
  background-color: rgb(210, 206, 206) !important;
  padding: 6px !important;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  width: 28px !important;
  height: 28px !important;
}
